.bodybg {
	-fx-background-image: url("/image/book-wallpapers-28442-7602008.jpg");
	 -fx-background-size: stretch;
}
.bodybg1 {
	-fx-background-image: url("/image/ourBackground.jpg");
	 -fx-background-size: stretch;
}
.glass_g {
    -fx-background-color:
            #c3c4c4,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
.glass_g:pressed{
	-fx-background-color: gray ;}
.split-menu-button .arrow-button {
    -fx-background-color:rgb(230,230,179)  ;
}
.GeneralBg {
	-fx-background-image: url("/image/GeneralBackground.jpg");
	-fx-background-size: stretch;
}
.WithoutLightsBg {
	-fx-background-image: url("/image/WithoutLights.jpg");
	-fx-background-size: stretch;
}
.helpBg {
	-fx-background-image: url("/image/helpbg.jpg");
	-fx-background-size: stretch;
}